html {
    background-color: rgba(32,33,36,1);
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    font-size: 3vw;
}

main {
    position: relative;
}

.start-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information {
    color: blanchedalmond;
    display: flex;
    margin-top: 2%;
    white-space: nowrap;
    font-size: 1.5vw;
}

.textbox {
    margin-left: 5%;
    background-color: transparent;
    color: blanchedalmond;
    border: 1px solid blanchedalmond;
    border-radius: 6px;
    text-align: center;
    font-size: 1.5vw;
}

.start-button {
    margin-top: 2%;
}

.button {
    background-color: transparent;
    color: blanchedalmond;
    border: 1px solid blanchedalmond;
    border-radius: 6px;
    font-size: 1.5vw;
}

.button:hover {
    opacity: 0.5;
}

.textbox:focus {
    outline: transparent;
}

.game-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.restart-button {
    margin-top: 2%;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid blanchedalmond;
    border-bottom: 1px solid blanchedalmond;
    border-left: 1px solid blanchedalmond;
    border-right: 1px solid blanchedalmond;
    height: 40vh;
    width: 40vh;
    border-radius: 6px;
}

.square {
    margin: 10% 10% 10% 10%;
    height: 8vh;
    width: 8vh;
    outline: double 1px #525356;
    text-align: center;
    font-size: 7vh;
}

.square:hover {
    background-color: cadetblue;
}

.marks-O {
    color: chartreuse;
}

.marks-X {
    color: red;
}

.result-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 40vh;
    width: 40vh;
    top: 30%;
    left: 36%;
}

.inactive {
    display: none;
}